<main class="container my-5">
  <div class="row justify-content-center g-3 mt-2">
    <div class="col col-md-10 col-lg-6">
      <h1 class="display-3">Cadastro de Compromissos</h1>
      <hr />
      <form [formGroup]="form" (submit)="gravar()">
        <mat-form-field class="w-100 mt-5" appearance="fill">
          <mat-label>Assunto</mat-label>
          <input
            matInput
            formControlName="assunto"
            autocomplete="assunto"
            placeholder="Ex: Reunião com o cliente"
            [maxLength]="50"
          />
          <mat-icon matSuffix color="primary">event</mat-icon>
          <mat-error class="text-white" *ngIf="assunto?.invalid">
            <span *ngIf="assunto?.errors?.['required']"
              >O assunto precisa ser preenchido.</span
            >
            <span *ngIf="assunto?.errors?.['minlength']"
              >O assunto deve conter ao menos 3 caracteres.</span
            >
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100 mt-3" appearance="fill">
          <mat-label>Data</mat-label>
          <input
            matInput
            formControlName="data"
            autocomplete="data"
            type="date"
            placeholder="Ex: 01/01/2021"
          />
          <mat-icon matSuffix color="primary">calendar_month</mat-icon>
          <mat-error class="text-white" *ngIf="data?.invalid">
            <span *ngIf="data?.errors?.['required']"
              >A data precisa ser preenchido.</span
            >
            <span *ngIf="data?.errors?.['data']"
              >A data informada não segue um padrão.</span
            >
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-100 mt-3" appearance="fill">
          <mat-label>Horário Inicio</mat-label>
          <input
            matInput
            formControlName="horaInicio"
            autocomplete="time"
            placeholder="Ex: 08:00"
          />
          <mat-icon matSuffix color="primary">schedule</mat-icon>
          <mat-error class="text-white" *ngIf="horaInicio?.invalid">
            <span *ngIf="horaInicio?.errors?.['required']"
              >O horário precisa ser preenchido.</span
            >
            <span *ngIf="horaInicio?.errors?.['pattern']"
              >O horário informado não segue o padrão 08:00.</span
            >
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-100 mt-3" appearance="fill">
          <mat-label>Horário Término</mat-label>
          <input
            matInput
            formControlName="horaTermino"
            autocomplete="time"
            placeholder="Ex: 09:00"
          />
          <mat-icon matSuffix color="primary">schedule</mat-icon>
          <mat-error class="text-white" *ngIf="horaTermino?.invalid">
            <span *ngIf="horaTermino?.errors?.['required']"
            >O horário precisa ser preenchido.</span
          >
          <span *ngIf="horaTermino?.errors?.['pattern']"
            >O horário informado não segue o padrão 09:00.</span
          >
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100 mt-3" appearance="fill">
          <mat-label>Tipo de Local</mat-label>
          <mat-select
            formControlName="tipoLocal"
            placeholder="Selecione um local"
          >
            <mat-icon matSuffix color="primary">add_location</mat-icon>
            <mat-option *ngFor="let local of locais; index as i" [value]="i">
              {{ local }}
            </mat-option>
          </mat-select>
          <mat-error class="text-white" *ngIf="local?.invalid">
            <span *ngIf="local?.errors?.['required']"
              >O local precisa ser preenchido.</span
            >
            <span *ngIf="local?.errors?.['minlength']"
              >O local deve conter ao menos 3 caracteres.</span
            >
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100 mt-3" appearance="fill">
          <mat-label>Local</mat-label>
          <input
            matInput
            formControlName="local"
            autocomplete="local"
            placeholder="Ex: Sala de reunião"
            [maxLength]="50"
          />
          <mat-icon matSuffix color="primary">add_location</mat-icon>
          <mat-error class="text-white" *ngIf="local?.invalid">
            <span *ngIf="local?.errors?.['required']"
              >O local precisa ser preenchido.</span
            >
            <span *ngIf="local?.errors?.['minlength']"
              >O local deve conter ao menos 3 caracteres.</span
            >
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100 mt-3" appearance="fill">
          <mat-label>Link</mat-label>
          <input
            matInput
            formControlName="link"
            autocomplete="link"
            placeholder="Ex: meet.google.com/abc-123"
          />
          <mat-icon matSuffix color="primary">link</mat-icon>
          <mat-error class="text-white" *ngIf="link?.invalid">
            <span *ngIf="link?.errors?.['required']"
              >O link precisa ser preenchido.</span
            >
            <span *ngIf="local?.errors?.['minlength']"
              >O link deve conter ao menos 3 caracteres.</span
            >
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100 mt-3" appearance="fill">
          <mat-label>Contato</mat-label>
          <mat-select formControlName="contatoId">
            <mat-option *ngFor="let contato of contatos" [value]="contato.id">
              {{ contato.nome }}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix color="primary">people</mat-icon>
          <!-- <mat-error class="text-white" *ngIf="contato?.invalid">
            <span *ngIf="contato?.errors?.['required']"
              >O contato precisa ser preenchido.</span
            >
             <span *ngIf="contato?.errors?.['minlength']"
              >O contato deve conter ao menos 3 caracteres.</span
            >
          </mat-error> -->
        </mat-form-field>


        <div class="row justify-content-end g-2 gap-2 mt-3">
          <button type="submit" mat-flat-button class="col-sm-4">
            <mat-icon matIconPrefix>check</mat-icon>
            Gravar
          </button>
          <a
            mat-button
            type="button"
            class="col-sm-4"
            routerLink="/compromissos/listar"
          >
            <mat-icon matIconPrefix>keyboard_return</mat-icon>
            Voltar
          </a>
        </div>
      </form>
    </div>
  </div>
</main>

